@using BasicCompany.Feature.MyComponents
@using BasicCompany.Foundation.FieldRendering

<div class="container">
    <section class="hero is-small product-detail-hero">
        <div class="hero-body">
            <h1 class="title">
                Hello World
            </h1>
            <h2 class="subtitle is-one-quarter">
                
            </h2>
        </div>
    </section>
</div>